/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* MAIN CSS */
body {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  max-width: 800px;
  background-color: #f8fafc;
  min-height: 100vh;
}

h1 {
  color: #334155;
  font-size: 1.5rem;
}
h2 {
  font-size: 0.8rem;
  color: #334155;
  font-weight: 400;
  margin-bottom: 10px;
}

.description,
.info {
  margin-top: 8px;
  color: #475569;
  font-size: 1rem;
}

form {
  margin: 20px 0;
  padding: 10px 0;
  border-top: solid #334155 1px;
  border-bottom: solid #334155 1px;
  line-height: 32px;
}
label {
  font-size: 1rem;
  color: #475569;
}
input[type="number"] {
  padding: 0.2rem;
  font-size: 1rem;
  width: 4rem;
}
input[type="submit"] {
  display: block;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f8fafc;
  letter-spacing: 1px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s ease;
  border: none;
  border-radius: 5px;
  background-color: #475569;
}
input[type="submit"]:hover {
  background-color: #94a3b8;
}
.id-output {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px 10px;
}
.id-output > code {
  display: block;
  color: #334155;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
  /* border: solid green 1px; */
}
.id-output > code:hover {
  color: red;
}

/* MOBILE */

@media screen and (max-width: 450px) {
  .description,
  .info {
    font-size: 0.9rem;
  }
  label {
    font-size: 0.9rem;
  }
  input[type="number"] {
    font-size: 0.9rem;
  }
}
